.vs/IdentityServerAngularImplicitFlow/v14/.suo
src/AngularClient/.sass-cache
src/AngularClient/bin
packages/IdentityModel.1.0.0/lib
src/AngularClient/bower_components
src/AngularClient/node_modules
src/Api1/Api1.xproj.user
packages
src/IdentityServerAspNet5/IdentityServerAspNet5.xproj.user
src/Api1/project.lock.json
src/AngularClient/project.lock.json
src/IdentityServerAspNet5/project.lock.json
src/MvcClient/MvcClient.xproj.user
src/MvcClient/project.lock.json
TestClient/obj
TestClient/bin
src/ResourceServer/project.lock.json
src/ResourceServer/ResourceServer.xproj.user
src/ResourceServer/dataeventrecords.sqlite
src/ResourceServer/Keys/key-c301dae8-ede3-4841-af99-beb6c2003f31.xml
src/Angular2Client/node_modules
src/Angular2Client/Angular2Client.xproj.user
src/Angular2Client/project.lock.json
src/ResourceFileServer/project.lock.json
src/ResourceFileServer/ResourceFileServer.xproj.user
src/Angular2Client/obj
src/Angular2Client/bin
src/AngularClient/obj
src/IdentityServerAspNet5/obj
src/ResourceFileServer/obj
src/ResourceServer/obj
src/AngularClient/AngularClient.xproj.user
.vs/config/applicationhost.config
.vs/restore.dg
src/IdentityServerAspNet5/bin
src/ResourceFileServer/bin
src/ResourceServer/bin
src/ResourceServer/Keys/key-0cbc98fb-31ef-48ac-9f6d-07e4c30f84a1.xml
src/ResourceServer/Keys/key-fb39fbc6-528d-4090-9864-d516f6604241.xml

src/Angular2Client/npm-debug.log
artifacts/obj/Angular2Client/Debug/TypeScriptCompilerOutput.txt
src/IdentityServerWithIdentitySQLite/bin
src/IdentityServerWithIdentitySQLite/IdentityServerWithAspNetIdentitySqlite.xproj.user
src/IdentityServerWithIdentitySQLite/obj
src/IdentityServerWithIdentitySQLite/project.lock.json
src/Angular2Hybrid/node_modules
artifacts/obj/Angular2Hybrid/Debug/TypeScriptCompilerOutput.txt

src/ResourceWithIdentityServerWithClient/bin
src/ResourceWithIdentityServerWithClient/obj
src/ResourceWithIdentityServerWithClient/project.lock.json
src/ResourceWithIdentityServerWithClient/angular2App/app/app.component.js
src/ResourceWithIdentityServerWithClient/angular2App/app/app.component.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/app.constants.js
src/ResourceWithIdentityServerWithClient/angular2App/app/app.constants.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/app.module.js
src/ResourceWithIdentityServerWithClient/angular2App/app/app.module.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/app.routes.js
src/ResourceWithIdentityServerWithClient/angular2App/app/app.routes.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/dataeventrecords-create.component.js
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/dataeventrecords-create.component.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/dataeventrecords-edit.component.js
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/dataeventrecords-edit.component.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/dataeventrecords-list.component.js
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/dataeventrecords-list.component.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/DataEventRecordsService.js
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/DataEventRecordsService.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/models/DataEventRecord.js
src/ResourceWithIdentityServerWithClient/angular2App/app/dataeventrecords/models/DataEventRecord.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/forbidden/forbidden.component.js
src/ResourceWithIdentityServerWithClient/angular2App/app/forbidden/forbidden.component.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/home/home.component.js
src/ResourceWithIdentityServerWithClient/angular2App/app/home/home.component.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/securefile/securefiles.component.js
src/ResourceWithIdentityServerWithClient/angular2App/app/securefile/securefiles.component.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/securefile/SecureFileService.js
src/ResourceWithIdentityServerWithClient/angular2App/app/securefile/SecureFileService.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/services/SecurityService.js
src/ResourceWithIdentityServerWithClient/angular2App/app/services/SecurityService.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/unauthorized/unauthorized.component.js
src/ResourceWithIdentityServerWithClient/angular2App/app/unauthorized/unauthorized.component.js.map
src/ResourceWithIdentityServerWithClient/angular2App/boot.js
src/ResourceWithIdentityServerWithClient/angular2App/boot.js.map
src/ResourceWithIdentityServerWithClient/angular2App/polyfills.js
src/ResourceWithIdentityServerWithClient/angular2App/polyfills.js.map
src/ResourceWithIdentityServerWithClient/angular2App/vendor.js
src/ResourceWithIdentityServerWithClient/angular2App/vendor.js.map
src/ResourceWithIdentityServerWithClient/node_modules
src/Angular2Client/aot/node_modules
src/ResourceWithIdentityServerWithClient/aot
src/Angular2Client/aot
src/Angular2Client/angular2App/app/dataeventrecords/dataeventrecords.routes.js
src/Angular2Client/angular2App/app/dataeventrecords/dataeventrecords.routes.js.map
src/ResourceWithIdentityServerWithClient/ResourceWithIdentityServerWithClient.xproj.user
src/ResourceWithIdentityServerWithClient/angular2App/app/guards/hasAdminRoleAuthenticationGuard.js
src/ResourceWithIdentityServerWithClient/angular2App/app/guards/hasAdminRoleAuthenticationGuard.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/guards/hasAdminRoleCanLoadGuard.js
src/ResourceWithIdentityServerWithClient/angular2App/app/guards/hasAdminRoleCanLoadGuard.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/user-management/user-management.component.js
src/ResourceWithIdentityServerWithClient/angular2App/app/user-management/user-management.component.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/user-management/models/User.js
src/ResourceWithIdentityServerWithClient/angular2App/app/user-management/models/User.js.map
src/ResourceWithIdentityServerWithClient/angular2App/app/user-management/UserManagementService.js
src/ResourceWithIdentityServerWithClient/angular2App/app/user-management/UserManagementService.js.map
src/ResourceWithIdentityServerWithClient/wwwroot
src/Angular2Client/wwwroot
src/Angular2Client/angular2App/app/dataeventrecords/models/DataEventRecord.js
src/ResourceServer/Keys
src/ResourceWithIdentityServerWithClient/wwwroot/_references.js
src/Angular2Client/angular2App/main.js
src/Angular2Client/angular2App/main.js.map
src/ResourceWithIdentityServerWithClient/angular2App/main.js
src/ResourceWithIdentityServerWithClient/angular2App/main.js.map
.vs/IdentityServerAngularImplicitFlow/v15/.suo
UpgradeLog.htm
.vs
src/AngularJSClient/node_modules
src/AngularJSClient/bower_components
src/AngularJSClient/obj
src/AngularJSClient/bin
src/AngularClient/wwwroot
src/AngularClient/aot
src/AngularClient/angularApp/app/**/*.js
src/AngularClient/angularApp/app/**/*.map
src/AngularClient/angularApp/main.js.map
src/AngularClient/angularApp/polyfills.js.map
src/AngularClient/angularApp/vendor.js.map
src/ResourceWithIdentityServerWithClient/angularApp/app/**/*.js
src/ResourceWithIdentityServerWithClient/angularApp/app/**/*.map
src/ResourceWithIdentityServerWithClient/angularApp/main.js.map
src/ResourceWithIdentityServerWithClient/angularApp/polyfills.js.map
src/ResourceWithIdentityServerWithClient/angularApp/vendor.js.map
src/AngularClient/angularApp/polyfills.js
src/AngularClient/angularApp/vendor.js
src/ResourceWithIdentityServerWithClient/angularApp/app/app.routes.js
src/ResourceWithIdentityServerWithClient/angularApp/app/services/SecurityService.js
src/ResourceWithIdentityServerWithClient/angularApp/polyfills.js
src/ResourceWithIdentityServerWithClient/angularApp/vendor.js
src/AngularClient/angularApp/main.js
src/ResourceWithIdentityServerWithClient/angularApp/main.js
src/ResourceWithIdentityServerWithClient/angularApp/main-aot.js
src/AngularClient/AngularClient.csproj.user
src/AngularJSClient/.sass-cache
src/AngularClientIdTokenOnly/wwwroot
src/AngularClientIdTokenOnly/aot
src/AngularClientIdTokenOnly/node_modules
src/AngularClientIdTokenOnly/angularApp/app/**/*.js
src/AngularClientIdTokenOnly/angularApp/app/**/*.map
src/AngularClientIdTokenOnly/angularApp/main.js.map
src/AngularClientIdTokenOnly/angularApp/polyfills.js.map
src/AngularClientIdTokenOnly/angularApp/vendor.js.map
src/AngularClientIdTokenOnly/obj
src/AngularClientIdTokenOnly/obj
src/AngularClientIdTokenOnly/bin
