.vs/IdentityServerAngularImplicitFlow/v14/.suo
src/AngularClient/.sass-cache
src/AngularClient/bin
packages/IdentityModel.1.0.0/lib
src/AngularClient/bower_components
src/AngularClient/node_modules
src/Api1/Api1.xproj.user
packages
src/IdentityServerAspNet5/IdentityServerAspNet5.xproj.user
src/Api1/project.lock.json
src/AngularClient/project.lock.json
src/IdentityServerAspNet5/project.lock.json
src/MvcClient/MvcClient.xproj.user
src/MvcClient/project.lock.json
TestClient/obj
TestClient/bin
src/ResourceServer/project.lock.json
src/ResourceServer/ResourceServer.xproj.user
src/ResourceServer/dataeventrecords.sqlite
src/ResourceServer/Keys/key-c301dae8-ede3-4841-af99-beb6c2003f31.xml
src/Angular2Client/node_modules
src/Angular2Client/Angular2Client.xproj.user
src/Angular2Client/project.lock.json
src/ResourceFileServer/project.lock.json
src/ResourceFileServer/ResourceFileServer.xproj.user
src/Angular2Client/obj
src/Angular2Client/bin
src/AngularClient/obj
src/IdentityServerAspNet5/obj
src/ResourceFileServer/obj
src/ResourceServer/obj
src/AngularClient/AngularClient.xproj.user
.vs/config/applicationhost.config
.vs/restore.dg
src/IdentityServerAspNet5/bin
src/ResourceFileServer/bin
src/ResourceServer/bin
src/ResourceServer/Keys/key-0cbc98fb-31ef-48ac-9f6d-07e4c30f84a1.xml
src/ResourceServer/Keys/key-fb39fbc6-528d-4090-9864-d516f6604241.xml
src/Angular2Client/wwwroot/app/app.component.js
src/Angular2Client/wwwroot/app/app.component.js.map
src/Angular2Client/wwwroot/app/app.constants.js
src/Angular2Client/wwwroot/app/app.constants.js.map
src/Angular2Client/wwwroot/app/boot.js
src/Angular2Client/wwwroot/app/boot.js.map
src/Angular2Client/wwwroot/app/dataeventrecords/dataeventrecords.component.js
src/Angular2Client/wwwroot/app/dataeventrecords/dataeventrecords.component.js.map
src/Angular2Client/wwwroot/app/dataeventrecords/dataeventrecords-create.component.js
src/Angular2Client/wwwroot/app/dataeventrecords/dataeventrecords-create.component.js.map
src/Angular2Client/wwwroot/app/dataeventrecords/dataeventrecords-edit.component.js
src/Angular2Client/wwwroot/app/dataeventrecords/dataeventrecords-edit.component.js.map
src/Angular2Client/wwwroot/app/dataeventrecords/dataeventrecords-list.component.js
src/Angular2Client/wwwroot/app/dataeventrecords/dataeventrecords-list.component.js.map
src/Angular2Client/wwwroot/app/dataeventrecords/DataEventRecordsService.js
src/Angular2Client/wwwroot/app/dataeventrecords/DataEventRecordsService.js.map
src/Angular2Client/wwwroot/app/forbidden/forbidden.component.js
src/Angular2Client/wwwroot/app/forbidden/forbidden.component.js.map
src/Angular2Client/wwwroot/app/securefile/securefiles.component.js
src/Angular2Client/wwwroot/app/securefile/securefiles.component.js.map
src/Angular2Client/wwwroot/app/securefile/SecureFileService.js
src/Angular2Client/wwwroot/app/securefile/SecureFileService.js.map
src/Angular2Client/wwwroot/app/services/SecurityService.js
src/Angular2Client/wwwroot/app/services/SecurityService.js.map
src/Angular2Client/wwwroot/app/unauthorized/unauthorized.component.js
src/Angular2Client/wwwroot/app/unauthorized/unauthorized.component.js.map
src/Angular2Client/wwwroot/app/vendor.js
src/Angular2Client/wwwroot/app/vendor.js.map

