<nav class="bg-dark mb-4 navbar navbar-dark navbar-expand-md">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['/dataeventrecords']" class="navbar-brand"><img src="assets/damienbod.jpg" height="40" style="margin-top:-10px;" /></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/dataeventrecords']" *ngIf="isAuthorized">dataEventRecords</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/dataeventrecords/create']" *ngIf="(isAuthorized && hasDataEventRecordsAdminRole)">create dataEventRecord</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/usermanagement']" *ngIf="(isAuthorized && hasAdminRole)">user-management</a></li>

                <li class="nav-item"><a class="nav-link" *ngIf="!isAuthorized" (click)="login()">Login</a></li>
                <li class="nav-item"><a class="nav-link" *ngIf="isAuthorized" (click)="logout()">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>