@model Host.UI.Logout.LoggedOutViewModel

<div class="page-header">
    <h1>
        Logout
        <small>You are now logged out</small>
    </h1>

    <div hide-if-null="Model.ReturnInfo">
        Click <a href="@Model.ReturnInfo.Uri">here</a> to return to the
        <span>@Model.ClientName</span> application.
    </div>

    <a href="https://localhost:44311/">Back to website</a> 

    @foreach (var url in Model.SignOutIFrameUrls)
    {
        <iframe class="signout" src="@url"></iframe>
    }
</div>
