<div class="col-md-12" *ngIf="isAuthorized" >
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Timestamp</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:20px;" *ngFor="let dataEventRecord of DataEventRecords" >
                        <td>
                            <a *ngIf="hasAdminRole" href="" [routerLink]="['/dataeventrecords/edit/' + dataEventRecord.id]" >{{dataEventRecord.name}}</a>
                            <span *ngIf="!hasAdminRole">{{dataEventRecord.name}}</span>
                        </td>
                        <td>{{dataEventRecord.timestamp}}</td>
                        <td><button class="btn btn-primary" (click)="Delete(dataEventRecord.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
