@using StsServerIdentity.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION");
}
<h1>@ViewData["Title"].</h1>
<p>
    Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
</p>
<p>
    @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_TEXT1")<a asp-controller="Account" asp-action="Login">@SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_CLICK_HERE")</a>.
</p>
