<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <br/>
            <br/>
            <h1>{{message}}</h1>
            
            <h3>Values from Resource server</h3>
            <ul>
                <li *ngFor="#value of values">
                    <span>{{value}} </span>
                </li>
            </ul>
        </div>
    </div>

    <hr>

    <footer>
        <p>TODO</p>
    </footer>
</div>
<!-- /container -->